.playlist-container {
    max-height: 300px;
    overflow-y: auto;
}

.playlist-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.playlist-item:hover {
    background-color: #f8f9fa;
}

.active-song {
    background-color: #d1e7dd !important;
}

.playlist-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.no-results {
    text-align: center;
    padding: 10px;
    color: #999;
}

#albumCover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.custom-audio-controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5; /* Adds a background color to the controller */
    padding: 10px; /* Padding around the controls */
    border-radius: 8px; /* Softens the corners of the controller */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a slight shadow for depth */
}

.seek-bar {
    flex: 1; /* Expands the seek bar to take up more space */
    margin: 0 10px;
    height: 6px;
    background-color: #ddd;
    border-radius: 5px;
}

.volume-bar {
    width: 100px; /* Fixes the width of the volume bar */
    margin: 0 10px;
    height: 6px;
    background-color: #ddd;
    border-radius: 5px;
}

#playPauseBtn {
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 50%; /* Circular button */
    background-color: #007bff; /* Primary button color */
    color: white;
    border: none;
    cursor: pointer;
}

#playPauseBtn:hover {
    background-color: #0056b3; /* Darker hover color */
}

#currentTime, #totalTime {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
}

#volumeSlider{
    position: absolute;
    top:-85px;
    left:-39px;
    background: rgba(0,0,0,0.95);
    padding: 0 5px 5px 5px;
    border-radius: 3px;
    transform: rotate(270deg);
    display: none;
}

#volumeButton{
    width: 50px;
}